h1 {
    color:#000000;
    font-size: 32px;
    font-family: courier;
    text-align: center;
}

body {
    background-color:#e9f7ff;
}

h2 {
    color:black;
    font-size: 24px;
    font-family: courier;
}

p {
    color:black;
    font-size: 16px;
    font-family: courier;
    font-weight: 600;
}

a {
    color:blue;
    font-size: 16px;
    font-family: 'Times New Roman';
}

nav ul  li {
    list-style-type: none;
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}

nav ul {
    background-color:cornflowerblue;
    border-style: solid;
	border-width: 2px;
	border-color: #e7d8c9;
	border-radius: 18px;
	padding: 8px;
}